{#include base}
<h2 class="uk-heading-small">Gender code maintenance</h2>
{#if genders.isEmpty()}
<p class="uk-text-muted">No genders found.</p>
{#else}
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-hover table-zebra">
        <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Record no.</th>
        </tr>
        </thead>
        <tbody id="gender-table-body">
        {#for gender in genders}
        <tr id="gender-row-{gender.id}">
            <td>{gender.code}</td>
            <td>{gender.description}</td>
            <td>{gender.id}</td>
        </tr>
        {/for}
        </tbody>
    </table>
</div>
{/if}
{/include}