{#include base}
<div class="uk-flex uk-flex-wrap uk-flex-center" style="gap: 30px; margin-top: 40px;">
    <div class="tech-card uk-card uk-card-default uk-card-body uk-width-medium">
        <h3 class="uk-card-title uk-flex uk-flex-middle">
            <img src="/img/Quarkus.svg" width="24" height="24" alt="Quarkus" class="uk-margin-small-right" />
            Supersonic Quarkus
        </h3>
        <p class="uk-text-small uk-margin-small-top">
            Kubernetes-native Java framework for lightning-fast startup times
            and low memory usage
        </p>
    </div>
    <div class="tech-card uk-card uk-card-default uk-card-body uk-width-medium">
        <h3 class="uk-card-title uk-flex uk-flex-middle">
            <img src="/img/Quarkus_black.svg" width="24" height="24" alt="Qute" class="uk-margin-small-right" />
            Type-Safe Qute
        </h3>
        <p class="uk-text-small uk-margin-small-top">
            Compile-time validation of type-safe templates
        </p>
    </div>
    <div class="tech-card uk-card uk-card-default uk-card-body uk-width-medium">
        <h3 class="uk-card-title uk-flex uk-flex-middle">
            <img src="/img/HTMX.svg" width="35" height="24" alt="HTMX" class="uk-margin-small-right" />
            High-powered HTMX
        </h3>
        <p class="uk-text-small uk-margin-small-top">
            HTML extension to provide client-side interactions without NodeJS
        </p>
    </div>
    <div class="tech-card uk-card uk-card-default uk-card-body uk-width-medium">
        <h3 class="uk-card-title uk-flex uk-flex-middle">
            <img src="/img/PostgresSQL.svg" width="24" height="24" alt="PostgreSQL" class="uk-margin-small-right" />
            Robust PostgreSQL
        </h3>
        <p class="uk-text-small uk-margin-small-top">
            The world's most advanced open source relational database
        </p>
    </div>
</div>
{/include}
