{#include base}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
    <div class="feature card bg-base-200 p-6 border-l-4">
        <h3 class="font-bold text-lg flex items-center gap-2">
            <img src="/img/Quarkus.svg" width="24" height="24" alt="Quarkus" />
            Supersonic Quarkus
        </h3>
        <p class="mt-2 text-sm">
            Kubernetes-native Java framework for lightning-fast startup times
            and low memory usage
        </p>
    </div>
    <div class="feature card bg-base-200 p-6 border-l-4">
        <h3 class="font-bold text-lg flex items-center gap-2">
            <img
                src="/img/Quarkus_black.svg"
                width="24"
                height="24"
                alt="Qute"
            />
            Type-Safe Qute
        </h3>
        <p class="mt-2 text-sm">
            Compile-time validation of type-safe templates
        </p>
    </div>
    <div class="feature card bg-base-200 p-6 border-l-4">
        <h3 class="font-bold text-lg flex items-center gap-2">
            <img src="/img/HTMX.svg" width="35" height="24" alt="HTMX" />
            High-powered HTMX
        </h3>
        <p class="mt-2 text-sm">
            HTML extension to provide client-side interactions without NodeJS
        </p>
    </div>
    <div class="feature card bg-base-200 p-6 border-l-4">
        <h3 class="font-bold text-lg flex items-center gap-2">
            <img
                src="/img/PostgresSQL.svg"
                width="24"
                height="24"
                alt="PostgreSQL"
            />
            Robust PostgreSQL
        </h3>
        <p class="mt-2 text-sm">
            The world's most advanced open source relational database
        </p>
    </div>
</div>
{/include}
